<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBILC "-//mybatis.org//DTO Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.mj.member.dto.MemberDTO" alias="member"></typeAlias>
    </typeAliases>
</configuration>